# 스마트서울 도시데이터 센서(S-DoT) 유동인구 측정 정보
- 2023년 6~7월 최신 정보
- 일반행정 공공데이터
- 스마트서울 도시데이터 센서(S-DoT) 유동인구 측정 정보
- 센서수량 및 설치장소 : 서울 전역 100대(전통시장, 주요거리, 공원, 공공시설)
- 측정정보 : S-DoT에서 측정된 유동인구(10분단위 데이터)

In [2]:
import pandas as pd

In [12]:
df1 = pd.read_csv('data01_2023.06.26-07.02.csv', encoding="cp949")
df1.head()

,모델번호,시리얼,측정시간,지역,자치구,행정동,방문자수,등록일
0,SDOT001,3023,2023-06-25_23:59:00,traditional_markets,Jungnang-gu,Junghwa2-dong,127,2023-06-26 00:08:01
1,SDOT001,3027,2023-06-25_23:59:00,traditional_markets,Gangbuk-gu,Mia-dong,145,2023-06-26 00:08:01
2,SDOT001,4061,2023-06-25_23:55:00,parks,Seoul_Grand_Park,women_parking2,3,2023-06-26 00:08:01
3,SDOT001,4060,2023-06-25_23:51:00,parks,Seoul_Grand_Park,women_parking1,0,2023-06-26 00:08:01
4,SDOT001,4019,2023-06-25_23:50:00,main_street,Jung-gu,Hoehyeon-dong,28,2023-06-26 00:08:01

In [13]:
df1['자치구'].unique()
#컬럼명 알기 쉽게 바꾸자

array(['Jungnang-gu', 'Gangbuk-gu', 'Seoul_Grand_Park', 'Jung-gu',
       'Yangcheon-gu', 'Gwangjin-gu', 'Gangdong-gu', 'Geumcheon-gu',
       'Eunpyeong-gu', 'Jongno-gu', 'Dobong-gu', 'Guro-gu', 'Gwanak-gu',
       'Seongdong-gu', 'Gangseo-gu', 'Gangnam-gu', 'Nowon-gu',
       'Seodaemun-gu', 'Mapo-gu', 'Seocho-gu', 'Songpa-gu', 'Dongjak-gu',
       'Yongsan-gu'], dtype=object)

In [14]:
grouped_gu = df1.groupby('자치구')['방문자수'].sum()
grouped_gu.sort_values(ascending=False)

자치구
Gangnam-gu          1358565
Dongjak-gu          1150222
Yangcheon-gu         930778
Guro-gu              919920
Dobong-gu            747947
Gangdong-gu          688284
Gangbuk-gu           647041
Jung-gu              614443
Geumcheon-gu         579214
Gwanak-gu            562767
Gwangjin-gu          562531
Nowon-gu             509428
Mapo-gu              438848
Songpa-gu            437347
Seocho-gu            432884
Gangseo-gu           314396
Jungnang-gu          282422
Jongno-gu            180382
Seoul_Grand_Park      75776
Seodaemun-gu          44155
Eunpyeong-gu          43300
Seongdong-gu          34182
Yongsan-gu             2259
Name: 방문자수, dtype: int64

# 영세자영업 지역별 매출액
- 2020년 자료
  - 2020년 전체 업종 매출 합 구해봄

In [16]:
df2 = pd.read_csv('영세자영업_지역별_매출액_20230807161131.csv')
df2.head(10)

   자치구별(1)   2020 2020.1 2020.2 2020.3
0  자치구별(1)     전체    외식업   서비스업    소매업
1      서울시  126.5  142.4   61.1  203.8
2      종로구  138.8  134.6   66.2  181.4
3       중구  169.2  144.1   76.8  196.1
4      용산구  140.3  141.1   56.7  240.5
5      성동구  155.4  142.6   61.6  282.3
6      광진구  115.3  135.7   56.9  184.4
7     동대문구  151.0  126.7   56.4  252.2
8      중랑구  112.6  116.6   53.9  180.5
9      성북구  108.3  129.9   55.1  169.3

In [22]:
district_sales = df2.copy()
district_sales_2020 = district_sales[['자치구별(1)','2020']]

In [32]:
district_sales_2020.columns = ['자치구', '2020년 매출 합']
district_sales_2020.head(5)

   자치구 2020년 매출 합
1  서울시      126.5
2  종로구      138.8
3   중구      169.2
4  용산구      140.3
5  성동구      155.4

# 서울시 상권분석서비스(상권-추정매출)
- https://data.seoul.go.kr/dataList/OA-15572/S/1/datasetView.do
- 서울시 골목상권 점포의 추정매출 정보
- 2021년 자료
- 상권이 나눠져있으며, 시간대별 매출 비율이 나옴
- 단, 자치구에 대한 정보 없음

In [36]:
df3 = pd.read_csv('서울시_우리마을가게_상권분석서비스(신_상권_추정매출)_2021년.csv', encoding="cp949")
df3.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [38]:
df3.head(3)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2021,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,626851391,25502,...,157,15667,7253,108,1098,2013,4344,7792,7568,28
1,2021,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,122957138,12039,...,0,6679,4293,52,926,1222,2698,3404,2670,9
2,2021,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,5093349,177,...,9,124,36,0,0,9,18,62,71,3

In [59]:
#api로
import requests
import json

key = "6c72596f4872733037377057444d69"
url = f"http://openapi.seoul.go.kr:8088/{key}/json/VwsmTrdarSelngQq/1/5/2020"
req = requests.get(url)

json_df = req.json()['VwsmTrdarSelngQq']['row']
df4 = pd.DataFrame(json_df)
df4

,STDR_YY_CD,STDR_QU_CD,TRDAR_SE_CD,TRDAR_SE_CD_NM,TRDAR_CD,TRDAR_CD_NM,SVC_INDUTY_CD,SVC_INDUTY_CD_NM,THSMON_SELNG_AMT,THSMON_SELNG_CO,...,TMZON_21_24_SELNG_CO,ML_SELNG_CO,FML_SELNG_CO,AGRDE_10_SELNG_CO,AGRDE_20_SELNG_CO,AGRDE_30_SELNG_CO,AGRDE_40_SELNG_CO,AGRDE_50_SELNG_CO,AGRDE_60_ABOVE_SELNG_CO,STOR_CO
0,2020,1,D,발달상권,2120148,국회의사당역(국회의사당),CS300020,서적,184314,19,...,0,19,0,0,0,0,0,19,0,*
1,2020,1,A,골목상권,2110662,까치산역 1번,CS300022,화장품,2125238,47,...,16,0,47,0,31,16,0,0,0,*
2,2020,1,A,골목상권,2110432,대진고등학교,CS300027,섬유제품,10555556,111,...,0,0,111,0,0,0,0,0,111,*
3,2020,1,A,골목상권,2110610,계남근린공원,CS200001,일반교습학원,5632619,25,...,25,0,25,0,0,0,25,0,0,*
4,2020,1,A,골목상권,2110613,신정네거리역 4번,CS300022,화장품,544564,14,...,0,0,14,0,0,0,0,0,14,*

In [60]:
#분기당 매춢 금액 : THSMON_SELNG_AMT / 상권구분코드명 : TRDAR_SE_CD_NM

quarterly_sales = df4.copy()
quarterly_sales = quarterly_sales[['TRDAR_CD_NM','THSMON_SELNG_AMT']]
quarterly_sales

     TRDAR_CD_NM THSMON_SELNG_AMT
0  국회의사당역(국회의사당)           184314
1        까치산역 1번          2125238
2         대진고등학교         10555556
3         계남근린공원          5632619
4      신정네거리역 4번           544564

# 경영활동 현황(자치구별) : 2020년
- 서울시 영세자영업(100대 생활밀접업종_외식업/소매업/서비스업) 영위 사업체
    ※ 영세자영업 : 개인사업자이면서 5인 미만 100대 생활밀접업종_외식업/소매업/서비스업)을 운영하는 자영업
- 작성방법 : 서울시 상가업소 정보(운영점포수, 개업수, 폐업수, 종업원수, 매출액 등) 및 통계청 SBR(기업통계등록부)자료를 활용하여 지역별 추정
- 작성내용 : 16개 결과표
    - 경영활동현황 총괄(업종별, 자치구별)
    - 운영 점포수 현황(종사자 규모별, 자치구별)
    - 개업점포수 현황(종사자 규모별, 자치구별)
    - 폐업점포수 현황(종사자 규모별, 자치구별)
    - 평균영업기간 현황(종사자 규모별, 자치구별 운영점포수)
    - 매출액 현황(종사자 규모별, 종사자 규모별 면적당, 자치구별, 자치구별 면적당, 업종별 면적당) 등