### API 연습
- 한국도로공사 고속도로 공공데이터 포털 http://data.ex.co.kr/dataset/datasetList/list?pn=1&CATEGORY=TR&GROUP_TR=TIME_TCS
- 실시간 영업소간 통행시간
- 인증키 입력
- 결과 url 복사

In [6]:
import requests

url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=json&iStartUnitCode=101&iEndUnitCode=103"

In [7]:
req = requests.get(url)
print(req)

<Response [200]>

In [8]:
json_df = req.json()
json_df

{'count': 520,
 'pageNo': 1,
 'numOfRows': 10,
 'pageSize': 52,
 'realUnitTrtmVO': [{'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.025',
   'timeMax': '11.150',
   'timeMin': '5.933',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:15',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '75',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.083333333333334',
   'timeMax': '11.150',
   'timeMin': '6.166',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:20',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '17',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.95',
   'timeMax': '9.866',
   'timeMin': '6.416',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:25',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '14',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.908333333333333',
   'timeMax': '10.100',
   'timeMin': '5.883',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:30',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '71',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.816666666666666',
   'timeMax': '10.066',
   'timeMin': '5.983',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:35',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '19',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.8',
   'timeMax': '10.100',
   'timeMin': '6.150',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:40',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '14',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.741666666666666',
   'timeMax': '9.950',
   'timeMin': '5.916',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:45',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '68',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.633333333333334',
   'timeMax': '9.950',
   'timeMin': '5.916',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:50',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '12',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.683333333333334',
   'timeMax': '9.750',
   'timeMin': '6.166',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:55',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '20',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.75',
   'timeMax': '10.516',
   'timeMin': '5.916',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '01  ',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '128',
   'iStartEndStdTypeCode': None}],
 'message': '인증키가 유효합니다.',
 'code': 'SUCCESS'}

In [9]:
import pandas as pd

In [13]:
df = pd.DataFrame(json_df['realUnitTrtmVO'])
print(df)

  pageNo numOfRows startUnitCode endUnitCode   stdDate sumTmUnitTypeCode  \
0   None      None          101         103   20230807              None
1   None      None          101         103   20230807              None
2   None      None          101         103   20230807              None
3   None      None          101         103   20230807              None
4   None      None          101         103   20230807              None
5   None      None          101         103   20230807              None
6   None      None          101         103   20230807              None
7   None      None          101         103   20230807              None
8   None      None          101         103   20230807              None
9   None      None          101         103   20230807              None

  startEndStdTypeCode            timeAvg timeMax timeMin  ... stdTime  \
0                   2              8.025  11.150   5.933  ...   00:15
1                   2  8.083333333333334  11.150   6.166  ...   00:20
2                   2               7.95   9.866   6.416  ...   00:25
3                   2  7.908333333333333  10.100   5.883  ...   00:30
4                   2  7.816666666666666  10.066   5.983  ...   00:35
5                   2                7.8  10.100   6.150  ...   00:40
6                   2  7.741666666666666   9.950   5.916  ...   00:45
7                   2  7.633333333333334   9.950   5.916  ...   00:50
8                   2  7.683333333333334   9.750   6.166  ...   00:55
9                   2               7.75  10.516   5.916  ...    01

  startUnitNm endUnitNm startEndStdTypeNm tcsCarTypeName tcsCarTypeCode  \
0          서울      수원신갈          도착기준통행시간             1종              1
1          서울      수원신갈          도착기준통행시간             1종              1
2          서울      수원신갈          도착기준통행시간             1종              1
3          서울      수원신갈          도착기준통행시간             1종              1
4          서울      수원신갈          도착기준통행시간             1종              1
5          서울      수원신갈          도착기준통행시간             1종              1
6          서울      수원신갈          도착기준통행시간             1종              1
7          서울      수원신갈          도착기준통행시간             1종              1
8          서울      수원신갈          도착기준통행시간             1종              1
9          서울      수원신갈          도착기준통행시간             1종              1

  tcsCarTypeDivName tcsCarTypeDivCode efcvTrfl iStartEndStdTypeCode
0               소형차                 1       75                 None
1               소형차                 1       17                 None
2               소형차                 1       14                 None
3               소형차                 1       71                 None
4               소형차                 1       19                 None
5               소형차                 1       14                 None
6               소형차                 1       68                 None
7               소형차                 1       12                 None
8               소형차                 1       20                 None
9               소형차                 1      128                 None

[10 rows x 22 columns]

In [16]:
cars = json_df['realUnitTrtmVO']
#반복되는 구간 확인, 리스트형이 있음. 그 부분을 추출
pd.DataFrame(cars)

,pageNo,numOfRows,startUnitCode,endUnitCode,stdDate,sumTmUnitTypeCode,startEndStdTypeCode,timeAvg,timeMax,timeMin,...,stdTime,startUnitNm,endUnitNm,startEndStdTypeNm,tcsCarTypeName,tcsCarTypeCode,tcsCarTypeDivName,tcsCarTypeDivCode,efcvTrfl,iStartEndStdTypeCode
0,None,None,101,103,20230807,None,2,8.025,11.150,5.933,...,00:15,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,75,None
1,None,None,101,103,20230807,None,2,8.083333333333334,11.150,6.166,...,00:20,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,17,None
2,None,None,101,103,20230807,None,2,7.95,9.866,6.416,...,00:25,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,14,None
3,None,None,101,103,20230807,None,2,7.908333333333333,10.100,5.883,...,00:30,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,71,None
4,None,None,101,103,20230807,None,2,7.816666666666666,10.066,5.983,...,00:35,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,19,None
5,None,None,101,103,20230807,None,2,7.8,10.100,6.150,...,00:40,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,14,None
6,None,None,101,103,20230807,None,2,7.741666666666666,9.950,5.916,...,00:45,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,68,None
7,None,None,101,103,20230807,None,2,7.633333333333334,9.950,5.916,...,00:50,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,12,None
8,None,None,101,103,20230807,None,2,7.683333333333334,9.750,6.166,...,00:55,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,20,None
9,None,None,101,103,20230807,None,2,7.75,10.516,5.916,...,01,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,128,None

In [20]:
#깔끔하지 않은 경우
records = []
for car in cars:
    row_dict = {}
    row_dict['date'] = car['stdDate']
    row_dict['timeAvg'] = car['timeAvg']
    records.append(row_dict)

pd.DataFrame(records)

       date            timeAvg
0  20230807              8.025
1  20230807  8.083333333333334
2  20230807               7.95
3  20230807  7.908333333333333
4  20230807  7.816666666666666
5  20230807                7.8
6  20230807  7.741666666666666
7  20230807  7.633333333333334
8  20230807  7.683333333333334
9  20230807               7.75

### XML 데이터를 데이터프레임으로

In [21]:

xml_url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=test&type=xml&iStartUnitCode=101&iEndUnitCode=103&numOfRows=10&pageNo=1"

req = requests.get(xml_url)
print(req.text)

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><data><code>SUCCESS</code><message>인증키가 유효합니다.</message><count>520</count><numOfRows>10</numOfRows><pageNo>1</pageNo><pageSize>52</pageSize><realUnitTrtmVO><efcvTrfl>16</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:05</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>8.316666666666666</timeAvg><timeMax>11.266</timeMax><timeMin>5.916</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>203</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00  </stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>7.8</timeAvg><timeMax>14.300</timeMax><timeMin>5.866</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>62</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:00</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>8.25</timeAvg><timeMax>14.300</timeMax><timeMin>5.866</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>18</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:10</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>8.166666666666666</timeAvg><timeMax>9.433</timeMax><timeMin>5.866</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>75</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:15</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>8.025</timeAvg><timeMax>11.150</timeMax><timeMin>5.933</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>17</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:20</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>8.083333333333334</timeAvg><timeMax>11.150</timeMax><timeMin>6.166</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>14</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:25</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>7.95</timeAvg><timeMax>9.866</timeMax><timeMin>6.416</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>71</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:30</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>7.908333333333333</timeAvg><timeMax>10.100</timeMax><timeMin>5.883</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>19</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:35</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>7.816666666666666</timeAvg><timeMax>10.066</timeMax><timeMin>5.983</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>14</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:40</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>7.8</timeAvg><timeMax>10.100</timeMax><timeMin>6.150</timeMin></realUnitTrtmVO></data>

In [54]:
import xml.etree.ElementTree as et

def parse_xml_to_df(xml_data):
    tree = et.ElementTree(et.fromstring(xml_data))

    data_list = []
    root = tree.getroot()
    for item in root.findall('.//realUnitTrtmVO'):
        efcv_trfl = int(item.find('efcvTrfl').text)
        end_unit_code = int(item.find('endUnitCode').text)
        end_unit_name = item.find('endUnitNm').text
        start_end_std_type_code = int(item.find('startEndStdTypeCode').text)
        start_end_std_type_name = item.find('startEndStdTypeNm').text
        start_unit_code = int(item.find('startUnitCode').text)
        start_unit_name = item.find('startUnitNm').text
        std_date = item.find('stdDate').text
        std_time = item.find('stdTime').text
        tcs_car_type_code = int(item.find('tcsCarTypeCode').text)
        tcs_car_type_div_code = int(item.find('tcsCarTypeDivCode').text)
        tcs_car_type_div_name = item.find('tcsCarTypeDivName').text
        tcs_car_type_name = item.find('tcsCarTypeName').text
        time_avg = float(item.find('timeAvg').text)
        time_max = float(item.find('timeMax').text)
        time_min = float(item.find('timeMin').text)
        data_list.append([
            efcv_trfl, end_unit_code, end_unit_name, start_end_std_type_code,
            start_end_std_type_name, start_unit_code, start_unit_name, std_date,
            std_time, tcs_car_type_code, tcs_car_type_div_code, tcs_car_type_div_name,
            tcs_car_type_name, time_avg, time_max, time_min
        ])
        
        columns = [
        'EfcvTrfl', 'EndUnitCode', 'EndUnitName', 'StartEndStdTypeCode',
        'StartEndStdTypeName', 'StartUnitCode', 'StartUnitName', 'StdDate',
        'StdTime', 'TcsCarTypeCode', 'TcsCarTypeDivCode', 'TcsCarTypeDivName',
        'TcsCarTypeName', 'TimeAvg', 'TimeMax', 'TimeMin'
        ]
    df = pd.DataFrame(data_list, columns=columns)
    return df
    
xml_data = req.text
df_xml = parse_xml_to_df(xml_data)
print(df_xml)

   EfcvTrfl  EndUnitCode EndUnitName  StartEndStdTypeCode StartEndStdTypeName  \
0        63          103        수원신갈                    2            도착기준통행시간
1        24          103        수원신갈                    2            도착기준통행시간
2         9          103        수원신갈                    2            도착기준통행시간
3         5          103        수원신갈                    2            도착기준통행시간
4        18          103        수원신갈                    2            도착기준통행시간
5         5          103        수원신갈                    2            도착기준통행시간
6         9          103        수원신갈                    2            도착기준통행시간
7        10          103        수원신갈                    2            도착기준통행시간
8         3          103        수원신갈                    2            도착기준통행시간
9         1          103        수원신갈                    2            도착기준통행시간

   StartUnitCode StartUnitName   StdDate StdTime  TcsCarTypeCode  \
0            101            서울  20230807    03                 1
1            101            서울  20230807   03:00               1
2            101            서울  20230807   03:05               1
3            101            서울  20230807   03:10               1
4            101            서울  20230807   03:15               1
5            101            서울  20230807   03:20               1
6            101            서울  20230807   03:25               1
7            101            서울  20230807   03:30               1
8            101            서울  20230807   03:35               1
9            101            서울  20230807   03:40               1

   TcsCarTypeDivCode TcsCarTypeDivName TcsCarTypeName   TimeAvg  TimeMax  \
0                  1               소형차             1종  7.850000   10.800
1                  1               소형차             1종  7.800000   10.583
2                  1               소형차             1종  7.850000   10.583
3                  1               소형차             1종  7.833333    9.233
4                  1               소형차             1종  7.616667   10.516
5                  1               소형차             1종  7.566667   10.516
6                  1               소형차             1종  7.800000    9.733
7                  1               소형차             1종  8.208333   10.800
8                  1               소형차             1종  8.083333    7.983
9                  1               소형차             1종  7.716667    6.883

   TimeMin
0    5.766
1    5.766
2    5.766
3    6.266
4    6.066
5    6.350
6    6.766
7    6.800
8    6.800
9    6.883

### xml >> dataframe 변환 (수업코드)

In [55]:

import requests
import lxml
from bs4 import BeautifulSoup

xml_url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=test&type=xml&iStartUnitCode=101&iEndUnitCode=103&numOfRows=10&pageNo=1"

req = requests.get(xml_url)
#print(req.text)

soup = BeautifulSoup(req.text, "lxml")
#print(soup.prettify())

stddate_list = soup.find_all("stddate")
timeAvg_list = soup.find_all("timeavg")


stddate = []
avgTime = []
for date, timeAvg in zip(stddate_list, timeAvg_list):
    #print(date.get_text(), timeAvg.get_text())
    stddate.append(date.get_text())
    avgTime.append(timeAvg.get_text())
df = pd.DataFrame({'date':stddate, 'avgTime':avgTime})
df

/Users/angela/multicampus28/venv/lib/python3.9/site-packages/bs4/builder/__init__.py:545: XMLParsedAsHTMLWarning: It looks like you're parsing an XML document using an HTML parser. If this really is an HTML document (maybe it's XHTML?), you can ignore or filter this warning. If it's XML, you should know that using an XML parser will be more reliable. To parse this document as XML, make sure you have the lxml package installed, and pass the keyword argument `features="xml"` into the BeautifulSoup constructor.
  warnings.warn(

       date             avgTime
0  20230807   8.333333333333334
1  20230807                 8.3
2  20230807   8.583333333333334
3  20230807   8.633333333333333
4  20230807               8.775
5  20230807   9.083333333333334
6  20230807   9.366666666666667
7  20230807                 9.5
8  20230807  10.066666666666666
9  20230807                10.3

### 벤치마크: 코드 속도 비교
- %%timeit

In [50]:
%%timeit

import pandas as pd
import xml.etree.ElementTree as ET
import requests
url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=xml&iStartUnitCode=101&iEndUnitCode=103"
response = requests.get(url)
root = ET.fromstring(response.content)
data_1 = [
    {element.tag: element.text for element in realUnitTrtmVO}
    for realUnitTrtmVO in root.findall('.//realUnitTrtmVO')
]
pd.DataFrame(data_1)

5.22 s ± 944 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [51]:
import pandas as pd
import xml.etree.ElementTree as ET
import requests
url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=xml&iStartUnitCode=101&iEndUnitCode=103"
response = requests.get(url)
root = ET.fromstring(response.content)
data_1 = [
    {element.tag: element.text for element in realUnitTrtmVO}
    for realUnitTrtmVO in root.findall('.//realUnitTrtmVO')
]
pd.DataFrame(data_1)

,efcvTrfl,endUnitCode,endUnitNm,startEndStdTypeCode,startEndStdTypeNm,startUnitCode,startUnitNm,stdDate,stdTime,tcsCarTypeCode,tcsCarTypeDivCode,tcsCarTypeDivName,tcsCarTypeName,timeAvg,timeMax,timeMin
0,203,103,수원신갈,2,도착기준통행시간,101,서울,20230807,00,1,1,소형차,1종,7.8,14.300,5.866
1,62,103,수원신갈,2,도착기준통행시간,101,서울,20230807,00:00,1,1,소형차,1종,8.25,14.300,5.866
2,16,103,수원신갈,2,도착기준통행시간,101,서울,20230807,00:05,1,1,소형차,1종,8.316666666666666,11.266,5.916
3,18,103,수원신갈,2,도착기준통행시간,101,서울,20230807,00:10,1,1,소형차,1종,8.166666666666666,9.433,5.866
4,75,103,수원신갈,2,도착기준통행시간,101,서울,20230807,00:15,1,1,소형차,1종,8.025,11.150,5.933
5,17,103,수원신갈,2,도착기준통행시간,101,서울,20230807,00:20,1,1,소형차,1종,8.083333333333334,11.150,6.166
6,162,103,수원신갈,2,도착기준통행시간,101,서울,20230807,05:30,1,1,소형차,1종,8.775,13.016,8.316
7,39,103,수원신갈,2,도착기준통행시간,101,서울,20230807,05:35,1,1,소형차,1종,9.083333333333334,11.566,8.883
8,43,103,수원신갈,2,도착기준통행시간,101,서울,20230807,05:40,1,1,소형차,1종,9.366666666666667,10.916,9.166
9,172,103,수원신갈,2,도착기준통행시간,101,서울,20230807,05:45,1,1,소형차,1종,9.5,12.700,9.483